.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 1200px;
  padding: 20px;
  gap: 40px
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title-container h1 {
  color: #003357;
  text-align: center;
  flex-wrap: wrap;
  font-family: 'Poppins', cursive;
  font-size: 3rem;
}

.title-container p {
  text-align: center;
  font-size: 1rem;
}

.title-container .alert {
  color: red;
  font-size: 0.6rem;
}

.products-container {
  display: flex;

  width: 95%;
  height: auto;

  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
}


@media only screen and (max-width: 720px) {
  .products-container {
    flex-direction: column;
    gap: 30px;
  }
}


.combine-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #003357;
  color: #fff;
  height: 80px;
  font-size: 0.7em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 30px;
  width: 95%;
}

.combine-button:hover {
  background-color: #002b4d;
}