header {
  background-color: #003357;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100px;
}

.headerContainer {
  padding-left: 10px;
  padding-right: 10px;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 900px;
}

.headerContainer a {
  color: #FFF;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  font-size: 2.5vh;
  transition: 0.3s ease-in-out 0s;
}

.headerContainer a:hover {
  color: #000;
  transform: translateY(-1px);
  background-color: #FFF;
}