.card-container {
  width: 30%;
  height: 500px;
  max-width: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}

.card-image-container {
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 100px
}

.card-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px
}

.card-text-container h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.card-text-container p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.6rem;
}

@media screen and (max-width: 720px) {
  .card-container {
    width: 100%;
  }

}